.jumbotron {
    background-image: url(../img/Peanut-Butter-Burger_Traeger-Wood-Fired-Grills_RE_HE_M.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}
 body {
     background-color: lightslategray;
}
h1, h2 {
    color:orange

 }
img {
    width: 150px;
}

h1 {
    text-align: center;
}

#container {
    text-align: center;
}

button {
    margin: 5px;
}

#newburDiv, form {
    text-align: center;
}
form {
    margin: auto;
}